html, body {
  height: 100%;
}

body {
  padding-top: 90px;
  font-family: "Saira Extra Condensed", sans-serif;
}

section {
  padding: 30px 0;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.btn-primary {
  border: none;
}

/* NAVBAR */
.nav {
  margin-top: 18px;
}

.navbar {
  min-height: 90px;
  margin-bottom: 0 !important;
}

.navbar-brand {
  height: auto;
  padding-top: 15px;
  margin: 0;
}

.navbar-nav {
  margin: 0;
  padding: 0;
}

.navbar-nav li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-nav > li > a {
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
  border-right: 1px solid #ccc;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.navbar-nav > li > a > div {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 18px;
  display: block;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.navbar-nav a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #0383c0 !important;
  color: #fff !important;
}

/* JUMBOTRON */
.jumbotron {
  margin: 0 !important;
  min-height: 450px;
  background: url(../img/bg.jpg) no-repeat;
}
.jumbotron h1 {
  font-size: 70px;
}
.jumbotron .col-md-5 {
  padding: auto;
}
.jumbotron .btn-primary {
  background-color: #0383c0;
}
.jumbotron p {
  font-size: 30px;
}

/* ICON SECTION */
.fa-color {
  color: #0383c0;
}

.section-gray {
  background-color: #f4f4f4;
}

.section-gray h3 {
  font-size: 30px;
}

/* SECONDARY SECTION */
.section-secondary {
  background-color: #e44d26;
  color: #fff;
  padding: 60px 0;
}
.section-secondary .btn-primary {
  background-color: #fff;
  color: #000;
}
.section-secondary h1 {
  font-size: 40px;
}
.section-secondary p {
  font-size: 25px;
  margin-bottom: 30px;
}

/* LIST SECTION */
.section-list {
  background-color: #fff;
}
.section-list h2 {
  font-size: 35px;
}
.section-list ul {
  padding: 0;
}
.section-list li {
  list-style: none;
  font-size: 22px;
  line-height: 2em;
}
.section-list .photo-col {
  padding-top: 30px;
}

/*  MORE FEATURES SECTION */
.section-primary {
  background-color: #0383c0;
  color: #fff;
}
.section-primary .features {
  padding-left: 50px;
}
.section-primary h2 {
  font-size: 35px;
}
.section-primary ul {
  padding: 0;
}
.section-primary li {
  list-style: none;
  font-size: 22px;
  line-height: 2em;
}
.section-primary .photo-col {
  padding-top: 30px;
}

/* FOOTER */
footer {
  height: 35px;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  background-color: #f4f4f4;
  letter-spacing: 1px;
}
footer p {
  margin: 0;
}

/* ABOUT */
.section-title {
  padding: 10px;
  background-color: #0383c0;
  color: #fff;
}
.section-title small {
  color: #f4f4f4;
}

.section-welcome .breadcrumb {
  margin-top: 20px;
}
.section-welcome li {
  font-size: 18px;
}
.section-welcome h2 {
  font-size: 45px;
  margin-top: 0px;
}
.section-welcome p {
  font-size: 20px;
}

.section-welcome, .section-team, .section-clients {
  margin: 0;
  padding: 0;
}
.section-welcome h2, .section-team h2, .section-clients h2 {
  font-weight: 700;
}
.section-welcome .col-lg-12, .section-team .col-lg-12, .section-clients .col-lg-12 {
  padding-left: 0;
}

.section-clients img {
  margin: 10px 0 20px 0;
}

/* SERVICES */
.section-our-services, .section-services-tabs, .section-services-images {
  padding-top: 0;
}

.section-our-services h2 {
  font-weight: 700;
}
.section-our-services p {
  font-size: 18px;
}

.section-services-tabs .row {
  padding-left: 15px;
  padding-right: 15px;
}
.section-services-tabs a {
  font-size: 20px;
}
.section-services-tabs p {
  font-size: 18px;
}

.section-services-images h2 {
  font-weight: 700;
}
.section-services-images p {
  font-size: 18px;
}
.section-services-images a {
  font-size: 16px !important;
}

/* CONTACT */
.section-contact {
  padding-top: 20px;
}
.section-contact h3 {
  font-weight: 700;
}
.section-contact p, .section-contact label, .section-contact button {
  font-size: 16px;
}
.section-contact iframe {
  margin-bottom: 20px;
}

/* Media Query */
@media (max-width: 990px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: none;
  }

  .collapse.in {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .jumbotron {
    min-height: 300px;
  }

  .jumbotron img {
    display: none;
  }
}
