$main-color: #0383c0;
$second-color: #e44d26;
$gray-color: #f4f4f4;

html, body {
    height: 100%;
}
body {
    padding-top: 90px;
    font-family: "Saira Extra Condensed", sans-serif;
}

section {
    padding: 30px 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

.btn-primary {
    border: none;
}

/* NAVBAR */

.nav {
    margin-top: 18px;
}

.navbar {
    min-height: 90px;
    margin-bottom: 0 !important;
}

.navbar-brand {
    height: auto;
    padding-top: 15px;
    margin: 0;
}

.navbar-nav {
    margin: 0;
    padding: 0;
}

.navbar-nav li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-nav > li > a {
    padding: 20px;
    font-size: 22px;
    font-weight: 700;
    border-right: 1px solid #ccc;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.navbar-nav > li > a > div {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 18px;
    display: block;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
}

.navbar-nav a:hover, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: $main-color !important;
    color: #fff !important;
}

/* JUMBOTRON */

.jumbotron {
    margin: 0 !important;
    min-height: 450px;
    background: url(../img/bg.jpg) no-repeat;

    h1 {
        font-size: 70px;
    }
    .col-md-5 {
        padding: auto;
    }
    .btn-primary {
        background-color: $main-color;
    }
    p {
        font-size: 30px;
    }
}

/* ICON SECTION */

.fa-color {
    color: $main-color;
}

.section-gray {
    background-color: $gray-color;
}

.section-gray h3 {
    font-size: 30px; 
}

/* SECONDARY SECTION */

.section-secondary {
    background-color: $second-color;
    color: #fff;
    padding: 60px 0;

    .btn-primary {
        background-color: #fff;
        color: #000;
    }
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 25px;
        margin-bottom: 30px;
    }
}

/* LIST SECTION */

.section-list {
    background-color: #fff;

    h2 {
        font-size: 35px;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        font-size: 22px;
        line-height: 2em;
    }
    .photo-col {
        padding-top: 30px;
    }
}

/*  MORE FEATURES SECTION */

.section-primary {
    background-color: $main-color;
    color: #fff;

    .features {
        padding-left: 50px;
    }
    h2 {
        font-size: 35px;
    }
    ul {
        padding: 0;
    }
    li {
        list-style: none;
        font-size: 22px;
        line-height: 2em;
    }
    .photo-col {
        padding-top: 30px;
    }
}

/* FOOTER */

footer {
    height: 35px;
    padding-top: 10px;
    text-align: center;
    font-size: 15px;
    background-color: $gray-color;
    letter-spacing: 1px;

    p {
        margin: 0;
    }
}

/* ABOUT */

.section-title {
    padding: 10px;
    background-color: $main-color;
    color: #fff;

    small {
        color: $gray-color;
    }
}

.section-welcome {
    .breadcrumb {
        margin-top: 20px;
    }
    li {
        font-size: 18px;
    }
    h2 {
        font-size: 45px;
        margin-top: 0px;
    }
    p {
        font-size: 20px;
    }
}

.section-welcome, .section-team, .section-clients {
    margin: 0;
    padding: 0;
    
    h2 {
        font-weight: 700;
    }
    .col-lg-12 {
        padding-left: 0;
    }    
}

.section-clients {
    img {
        margin: 10px 0 20px 0;
    }
}

/* SERVICES */
.section-our-services, .section-services-tabs, .section-services-images {
    padding-top: 0;
}

.section-our-services {
    h2 {
        font-weight: 700;
    }
    p {
        font-size: 18px;
    }
    
}

.section-services-tabs {
    .row {
        padding-left: 15px;
        padding-right: 15px;
    }
    a {
        font-size: 20px;
    }
    p {
        font-size: 18px;
    }
}

.section-services-images {
    h2 {
            font-weight: 700;
        }
    p {
        font-size: 18px;
    }
    a {
        font-size: 16px !important;
    }
}

/* CONTACT */
.section-contact {
    padding-top: 20px;

    h3 {
        font-weight: 700;
    }
    p, label, button {
        font-size: 16px;
    }
    iframe {
        margin-bottom: 20px;
    }
}


/* Media Query */
@media (max-width: 990px){
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-nav {
        float: none;
        margin-top: 7.5px;
    }
    .navbar-nav > li {
        float: none;
    }
    .navbar-nav > li >a {
        padding-top: 10px;
        padding-bottom: 10px;
        border-right: none;
    }
    .collapse.in {
        display: block !important;
    }

}

@media (max-width: 768px){
    .jumbotron {
        min-height: 300px;
    }
    .jumbotron img {
        display: none;
    }
}